# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.venv/
.env
.rye/

# OS
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
*.egg-info/

# Rye lock files will be generated locally
requirements.lock
requirements-dev.lock
